
@model LoginModel

<div class="form-box">
  <h2 class="logReg-header">Inloggning</h2>
  <div class="form">
    <form asp-controller="Account" asp-action="Login" method="post">
      <p>
        <input asp-for="Email" placeholder="E-mail" />
        <span asp-validation-for="Email" class="validation-summary-errors"></span>
      </p>
      <p>
        <input asp-for="Password" placeholder="Lösenord" />
        <span asp-validation-for="Password" class="validation-summary-errors"></span>
      </p>
      <p>
        <input type="hidden" asp-for="ReturnUrl" />
      </p>
      <p>
        <button>Logga in</button>
      </p>
      <p class="message">Ej medlem? <a asp-controller="Account" asp-action="Register">Skapa konto</a></p>
      <h5 class="login-error">@ViewBag.Message</h5>
    </form>
  </div>
</div>


