@*For more information on modal see: https://www.w3schools.com/bootstrap/bootstrap_modal.asp*@
@*I used the bootstrap modal for this project*@

@model Bothniabladet.Models.ImageModels.ImageDetailViewModel

<div class="container">
    <div class="modal fade" tabindex="-1" id="AddEditedImageModal"
         data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Lägg till bild</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        ×
                    </button>
                </div>
                <div class="modal-body">
                    <form asp-action="AddEdited" asp-controller="Images" method="post" enctype="multipart/form-data">
                        <input asp-for="CreateEditedImage.OriginalId" type="hidden" value="@Model.Id" />
                        <label asp-for="CreateEditedImage.ImageData.FormFile"></label>
                        <input asp-for="CreateEditedImage.ImageData.FormFile" type="file" />
                        <span asp-validation-for="CreateEditedImage.ImageData.FormFile"></span>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="CreateEditedImage.ImageTitle" class="control-label">Please enter the name of the image</label>
                            <input asp-for="CreateEditedImage.ImageTitle" class="form-control" />
                            <span asp-validation-for="CreateEditedImage.ImageTitle" class="text-danger"></span>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" value="AddEdited" class="btn btn-primary">Lägg till bild</button>
                            <button type="button" class="btn btn-primary button button4" data-dismiss="modal">Göm</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>