@model IEnumerable<Bothniabladet.Models.ImageModels.ImageSummaryViewModel>

@{
    ViewData["Title"] = "Index";
}



@*Place the filters here*@

@*If user selects to show as list else show as boxes*@
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <a href="/Images/BoxView">
                <div class="custom-control custom-switch">
                    <span>Byt till lådvy</span>
                </div>
            </a>
        </ol>
    </nav>
    <partial name="_PartialImageListElement" />
