@model IEnumerable<Bothniabladet.Models.ImageModels.ImageSummaryViewModel>

@{
    ViewData["Title"] = "Index";
}

<a></a>

@*Place the filters here*@

@*If user selects to show as list else show as boxes*@
@if (1 == 1)
{
    <partial name="_PartialImageListElement" />
}
else
{
    <partial name="_PartialImageBoxElement" />
}
