@model Bothniabladet.Models.Checkout.CheckoutViewModel

@{
    ViewData["Title"] = "Checkout";
}


<div class="container-fluid">

    @*Header*@
    <div class="row">
        @*Better way than the previous version to handle go back (Even though it's in JavaScript)*@
        <a href='javascript:history.go(-1)'>Back to List</a>
        <hr />
    </div>

    @*Main content*@
    <div class="row">

        @*The Image that are going to be sold*@
        <div class="col">
            <u>Items from purchase</u>
        </div>

        @*The information form to fill out*@
        <div class="col">
            <u>Form of purchase information</u>
        </div>
    </div>

</div>