@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Välkommen</h1>
        <p>Till Bothniabladets bildtjänst</p>

        <a asp-controller="Images" asp-action="Index" >Se alla bilder</a>
    </div>
